<div class="form-group container">
  Enter the name of the test
  <input type="text" class="form-control" [(ngModel)]="testname">
  <br>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Question
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group" [formGroup]="questionForm">
            Enter the Question:<textarea class="form-control" formControlName="question"></textarea>
            Option1:<input type="text" class="form-control" formControlName="option1">
            Option2:<input type="text" class="form-control" formControlName="option2">
            Option3:<input type="text" class="form-control" formControlName="option3">
            Option4:<input type="text" class="form-control" formControlName="option4">
            select correct option:
            <select class="form-control" formControlName="correctOption">
              <option>option1</option>
              <option>option2</option>
              <option>option3</option>
              <option>option4</option>
            </select>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="addQuestion()" data-dismiss="modal">Add Question</button>
        </div>
  
      </div>
    </div>
  </div>
  <ol *ngIf="questions">
    <li *ngFor="let question of questions;">
      <h3>Q:{{question.question}}</h3>
      <b>Opt1:{{question.option1}}</b><br>
      <b>Opt2:{{question.option2}}</b><br>
      <b>Opt3:{{question.option3}}</b><br>
      <b>Opt4:{{question.option4}}</b>
      <b>Correct Option:{{question.correctOption}}</b>
    </li>
  </ol>
  <button class="btn btn-success" (click)="addTest()">Add Test</button>
</div>
